:root {
    --primary-color: #c8dc71;
  }
  
  .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75em;
    padding: 1rem 3rem;
    border: 2px solid rgba(200, 220, 113, 0.8);
    cursor: pointer;
    outline: none;
    background-color: transparent;
    color: var(--primary-color);
    transition: all 0.25s ease-in-out;
    box-shadow: 0 11px 27px -5px rgba(0, 0, 0, 0.53),
      0 25px 25px -4px rgba(0, 0, 0, 0.35);
  }
  
  .btn-primary:hover {
    background-color: rgba(200, 220, 113, 0.1);
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.6),
      0 30px 30px -4px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
  }
  
  .btn-primary:active {
    transform: translateY(2px);
    box-shadow: 0 4px 12px -5px rgba(0, 0, 0, 0.53),
      0 6px 6px -4px rgba(0, 0, 0, 0.35);
    background-color: rgba(200, 220, 113, 0.2);
  }
  