.b-home-container{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('/cover.png');;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}